<!DOCTYPE html>
<html>
<head>
    <title> Gamepage </title>
    <link rel = "stylesheet" type = "text/css" href ="static/css/style.css">


<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}
</style>
</head>
<body onload="startGame()">
<script>

function startGame() {
    myGameArea.start();
}

var myGameArea = {
    canvas : document.createElement("canvas"),
    start : function() {
        this.canvas.width = 600; // might make dynamic
        this.canvas.height = 300;
        this.context = this.canvas.getContext("2d");
        document.body.insertBefore(this.canvas, document.body.childNodes[0]);
        this.interval = setInterval(update, 100);
        this.state = {
      isGameOver: false,
      xPos: 100,
      yPos: 200,
      yVelo : 1,
    framerate: 24,
  beginTime: 0,
endTime: 0,
score: 10 };
    },

    stop : function() {
        clearInterval(this.interval); }
}


  function update() {
    // update a frame...

      console.log(Date.now());
      
      
      // halt frame updates if game over
      if (this.isGameOver() == true)
      {
        myGameArea.stop();
        return 0;
      }


      // update coordinates
      myGameArea.state.yPos = myGameArea.state.yPos+myGameArea.state.yVelo;

      // draw frame
      const context = myGameArea.context;

      // define frame stuff
      context.save();
      // context.scale(myGameArea.state.screen.ratio, myGameArea.state.screen.ratio);
  
  
      // clear frame
      context.fillStyle = '#888888';
      // context.globalAlpha = 0.4;
      context.fillRect(0, 0, myGameArea.canvas.width, myGameArea.canvas.height);
      // context.globalAlpha = 1;
  
      context.fillStyle = '#ffffff';
      context.font = "30px Arial";
      context.fillText("lmao xD", myGameArea.state.xPos, myGameArea.state.yPos);
  
  
      context.restore();

  }

  function isGameOver ()
  {
    console.log(myGameArea.state.yPos);
    if (myGameArea.state.yPos>myGameArea.canvas.height)
    {
      // fell too far down
      console.log("fell down");
      return true;
    };
    return false;
  }


    


</script>


</body>
</html>
