<!DOCTYPE html>
<html>
    <head>
        <title> Flappy TIM </title>
        <link rel = "stylesheet" type = "text/css" href ="static/css/style.css">

    </head>
    <body>
      <div class = "welcome_text">
        <h1 id ="first_message"></h1>
        <h2 id = "sub_message"></h2>

      </div>
      <nav class="navbar">

        <div class="allign-upperleft"></div>  
      </nav>
      <div id="name-container" class = "allign-upperright"></div>

    </body>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/name.js"></script>
</html>
