<!DOCTYPE html>
<html>
    <head>
        <title> Flappy TIM </title>
        <link rel = "stylesheet" type = "text/css" href ="static/css/style.css">
        <!---<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon"> -->
    </head>
    <body>
      <div class = "welcome_text">
        <h1 id ="first_message"></h1>
        <h2 id = "sub_message"></h2>
        <!-- <a id = "login" class = "button"><a>
        <a id = "start" class = "button"></a> -->
      </div>
      <nav class="navbar">
        <!--<div class="navbar-brand" href="#"></div> -->
        <div class="allign-upperleft" id="nav-item-container">
          <!-- navbar items are inserted here -->
        </div>
      </nav>
      <div id="name-container" class = "allign-upperright"></div>

    </body>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/name.js"></script>
</html>